@import url("./fonts.css");

:root {
  --text-color: #ffffff;
  --background-color: #10367c;
  --border-color: #f5bd41;
  --button-color: #3077c6;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*for desktop*/
.col-1 {
  width: 6.25%;
}

.col-2 {
  width: 12.5%;
}

.col-3 {
  width: 18.75%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 31.25%;
}

.col-6 {
  width: 37.5%;
}

.col-7 {
  width: 43.75%;
}

.col-8 {
  width: 50%;
}

.col-9 {
  width: 56.25%;
}

.col-10 {
  width: 62.5%;
}

.col-11 {
  width: 68.75%;
}
.col-12 {
  width: 75%;
}

.col-13 {
  width: 81.25%;
}

.col-14 {
  width: 87.5%;
}

.col-15 {
  width: 93.75%;
}

.col-16 {
  width: 100%;
}

.container {
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.top-section {
  display: flex;
  height: 100vh;
  color: var(--text-color);
}

.background-img {
  background-image: url("../images/castelmezzano.png");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  font-size: 24px;
  margin-top: 50px;
}

.header__logo svg {
  width: 205px;
  height: 40px;
}

.header__container {
  display: flex;
  column-gap: 48px;
}

.header__content {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.header__content a {
  text-decoration: none;
  color: var(--text-color);
}

.header__content--link {
  position: relative;
}

.header__content--link:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
  width: 50px;
  height: 4px;
  background-color: var(--border-color);
  transform: translate(-50%);
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icons button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.header__night-icon svg {
  width: 30px;
  height: 30px;
  margin-right: 24px;
}

.header__account-icon svg {
  width: 40px;
  height: 40px;
}

.header__menu svg {
  width: 0;
  height: 0;
  display: none;
  margin-left: 24px;
}

.top-section__content {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.top-section__content h1 {
  font-size: 50px;
  font-weight: 500;
  padding-bottom: 80px;
}

.top-section__form {
  display: flex;
  justify-content: space-between;
  background-color: var(--text-color);
  border-radius: 8px;
}

.top-section__form * {
  height: 64px;
  border-radius: 8px;
  font-size: 18px;
  color: #383838;
  text-align: center;
}

.top-section__form button {
  max-width: 192px;
  width: 100%;
  height: 64px;
  border-radius: 8px;
  background-color: var(--button-color);
  border: none;
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
}

.top-section__form input {
  border: 3px solid transparent;
}

.top-section__form input:focus {
  border: 3px solid var(--border-color);
}

.top-section__form-city {
  max-width: 465px;
  width: 100%;
  padding-left: 24px;
  text-align: left;
}

.form-city {
  position: relative;
  max-width: 498px;
  width: 100%;
}

.form-city label {
  position: absolute;
  top: -30px;
  left: 25px;
  max-width: 465px;
  width: 100%;
  color: var(--text-color);
  text-align: start;
}

.top-section__form-calendar {
  width: 100%;
}

.form-calendar {
  position: relative;
  max-width: 253px;
  width: 100%;
}

.form-calendar label {
  position: absolute;
  top: -30px;
  left: 10px;
  max-width: 253px;
  width: 100%;
  color: var(--text-color);
  text-align: start;
}
.top-section__form-quantity {
  width: 100%;
}

.top-section__apps {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-top: 80px;
}

.google-play {
  width: 135px;
  height: 40px;
}
.app-store {
  width: 118px;
  height: 40px;
}

.mobile-form {
  display: none;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 100px;
  padding: 120px 0;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

.heading-container__h2 {
  position: relative;
}

.heading-container__h2:after {
  content: "";
  display: block;
  position: absolute;
  top: 68px;
  left: 50%;
  width: 100px;
  height: 4px;
  background-color: var(--border-color);
  transform: translate(-50%);
}

.advantages__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
}

.advantages__item--svg {
  width: 100%;
  max-width: 100px;
  height: 100px;
}

.advantages__item-offer {
  font-size: 24px;
}

.homes-section {
  display: flex;
  flex-direction: column;
  row-gap: 105px;
  align-items: center;
  padding: 120px 20px;
  background-color: #eaf0f9;
}
.homes-section__accommondation {
  display: flex;
  column-gap: 16px;
  font-size: 24px;
  color: var(--button-color);
  position: relative;
  box-sizing: border-box;
}

.homes-section__hotels {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.homes-section__hotels img {
  width: 100%;
  max-width: 296px;
}

.circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f3f3f4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 148px;
  left: 100%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.circle img {
  width: 9px;
  height: 21px;
  background-color: #f3f3f4;
}

.location {
  color: #bfbfbf;
}

.footer {
  background-color: var(--background-color);
  font-size: 20px;
  color: var(--text-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  padding: 120px 88px 120px 104px;
}

.footer__content {
  display: flex;
}

.footer__content--logo {
  width: 0;
  height: 0;
  display: none;
}

.footer__item--list-heading {
  font-weight: 500;
}

.footer__item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.footer__item--list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  list-style-type: none;
}

.footer__copyright {
  font-size: 14px;
}

@media (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  .advantages {
    padding: 0;
    row-gap: 32px;
    padding-top: 24px;
  }

  h2 {
    font-size: 28px;
  }

  .heading-container__h2:after {
    display: none;
  }

  .advantages__item {
    row-gap: 0;
  }

  .advantages__item--svg {
    max-width: 70px;
    height: 70px;
    padding-bottom: 16px;
  }

  .advantages__item-offer {
    font-size: 15px;
  }

  .col-4 div {
    margin-bottom: 32px;
  }

  .col-4:last-child div {
    margin-bottom: 40px;
  }

  .footer__content--logo {
    width: 98px;
    height: 19px;
    display: block;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
    padding: 40px 0;
  }

  .footer__content div {
    width: inherit;
    padding-right: 8px;
    padding-left: 8px;
  }
  .footer__item--list-heading {
    text-decoration: underline;
    padding: 40px 0 32px 0;
    font-size: 15px;
  }

  .footer__item--list-item {
    display: none;
  }

  .footer__copyright {
    font-size: 12px;
  }

  .header__content {
    display: none;
  }
  .top-section {
    padding: 0 16px 0 16px;
  }

  .header__logo svg {
    width: 122px;
    height: 24px;
  }

  .header__container {
    display: flex;
    column-gap: 16px;
  }

  .header__night-icon svg {
    width: 16px;
    height: 16px;
  }

  .header__account-icon svg {
    width: 24px;
    height: 24px;
  }

  .header__menu svg {
    display: block;
    width: 24px;
    height: 16px;
  }

  .top-section__container {
    display: none;
    width: 0;
    height: 0;
  }

  .search-icon {
    width: 16px;
    height: 16px;
  }

  .top-section__content {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
  }

  .top-section__content h1 {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 30px;
  }

  .top-section__mobile {
    position: relative;
  }

  .mobile-form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-weight: 500;
    font-size: 15px;
    color: #383838;
    background-color: var(--border-color);
    padding: 8px;
  }

  .mobile-form label {
    display: flex;
    column-gap: 8px;
    position: absolute;
    padding: 16px 0 0 14px;
  }

  .mobile-form p {
    font-size: 12px;
    font-weight: 400;
  }

  .mobile-form input {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: none;
  }

  .mobile-form__check {
    width: 100%;
  }

  .mobile-form__calendar {
    display: flex;
    column-gap: 8px;
  }

  .mobile-form__calendar label {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    row-gap: 4px;
  }

  .mobile-form__calendar input {
    width: -webkit-fill-available;
  }

  .mobile-form-selection {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  .mobile-form__quantity label {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    row-gap: 4px;
  }
  .mobile-form__quantity input {
    border: none;
    height: 32px;
  }

  .mobile-form__adult {
    width: 100%;
    height: 32px;
  }

  .mobile-form__children {
    width: 100%;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    height: 32px;
  }

  .mobile-form__rooms {
    width: 100%;
    height: 32px;
  }

  .button {
    border-radius: 4px;
    border: none;
    width: 100%;
    height: 48px;
    background-color: var(--button-color);
    font-size: 19px;
    font-weight: 500;
    color: var(--text-color);
  }

  .top-section__apps {
    margin-top: 32px;
    margin-bottom: 40px;
  }

  .homes-section {
    padding: 40px 16px;
    row-gap: 32px;
  }

  .homes-section__hotels {
    row-gap: 6px;
  }

  .homes-section__hotels img {
    width: 156px;
    height: 156px;
  }

  .circle {
    width: 28px;
    height: 28px;
    top: 78px;
    left: 100%;
    transform: translate(-50%, -50%);
  }

  .circle img {
    width: 5px;
    height: 13px;
  }

  .homes-section__hotels p {
    font-size: 12px;
  }

  .hostel {
    display: none;
  }
}

@media (max-width: 550px) {
  [class*="col-"] {
    width: 100%;
  }

  .villa {
    display: none;
  }
}
