@import url('./fonts.css');

* {
  padding: 0;
  margin: 0;
}

.advantages-block {
  width: 1440px;
  height: 596px;
}

.heading-container {
  margin: 120px 567px 60px 567px;
}

.heading-container h1 {
  font-family: "Roboto", sans-serif;
  width: 306px;
  height: 47px;
  font-size: 40px;
  text-align: center;
}

.heading-container hr {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  border: 0;
  margin: 20px 104px;
}

.advantages-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 96px 120px 96px;
}

.advantages-content-item {
  width: 296px;
  height: 178px;
}

.advantages-content-item img {
  margin: 0 98px 48px 98px;
}

.advantages-content-item p {
    font-family: 'Roboto', sans-serif;
  height: 28px;
  font-size: 24px;
  text-align: center;
}
