@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
}

.advantages-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 80px;
  width: 1440px;
  height: 596px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.heading-container h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.heading-container hr {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  border: 0;
}

.advantages-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
}

.advantages-content-item {
  width: 296px;
  height: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
}

.advantages-content-item p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 28px;
  font-size: 24px;
}

.footer {
  width: 1064px;
  height: 385px;
  padding: 120px 272px 120px 104px;
  background-color: #10367c;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  column-gap: 223px;
}

.footer-content h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.footer-item {
  display: flex;
  flex-direction: column;
  min-width: 193px;
  row-gap: 24px;
}
.footer-item ol{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  min-width: 193px;
  row-gap: 24px;
}

.copyright {
  font-size: 14px;
}
